<div class='form'>
  <%= simple_form_for landscape, html: {multipart: true} do |form| %>

    <% if params[:action] == "new" %>
      <%= form.input :image, as: :file, label: "Images file (png/jpg/jpeg/gif)" %>
    <% end %>

    <%= form.input :caption, input_html: {style: 'max-width: 300px'} %>
    <%= form.input :description, input_html: {style: 'max-width: 300px'} %>
    <%= form.submit "Publish" %>
  <% end %>
</div>
